* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#eee;
    font: 13px Helvetica, Arial;
    background: #000;
}

#stage {
    position: absolute;
    top: 0;
    left: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#game-countdown {
    position: absolute;
    text-align: center;
    right: 0px;
    bottom: 0px;
    font-size: 11em;
    padding: 5px 20px;
    background: black;
}

#join-msg{
    position: fixed;
    text-align: center;
    left: 270px;
    bottom: 90px;
    font-size: 2.5em;
    color: #ddd;
}

#new-round {
    text-align: center;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 5;
}

#new-round #round-countdown {
    position: absolute;
    text-align: center;
    right: 265px;
    width: 300px;
    top: 610px;
    font-size: 11em;
    color: #fff;
}

#new-round #player-list {
    position: absolute;
    text-align: left;
    left: 300px;
    top: 615px;
    font-size: 25px;
}
